# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':')
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
document = ET.parse( './data/mondial_database.xml' )

In [6]:
import numpy as np
import pandas as pd

In [15]:
# 1. Find 10 countries with the lowest infant mortality rates.
rows_list = []
for element in document.iterfind('country'):
    im = element.find('infant_mortality')
    if im is not None:
        pair = {'country_name' : element.findtext('name'), 'infant_mortality_rate' : float(im.text)}
        rows_list.append(pair)
    
pd.DataFrame(rows_list).sort_values('infant_mortality_rate').head(10)

       country_name  infant_mortality_rate
36           Monaco                   1.81
90            Japan                   2.13
109         Bermuda                   2.48
34           Norway                   2.48
98        Singapore                   2.53
35           Sweden                   2.60
8    Czech Republic                   2.63
72        Hong Kong                   2.73
73            Macao                   3.13
39          Iceland                   3.15

In [51]:
# 2. Find 10 cities with the largest population.
rows_list = []
for country in document.iterfind('country'):
    for city in country.iterfind('city'):
        # Cities can have multiple population measurements over time.
        # For the sake of being current, I use the most recent one.
        pop_years = {}
        for pop in city.findall('population'):
            year = pop.attrib.get('year')
            pop_years[int(year)] = pop.text
        if pop_years:
            most_recent_year = max(pop_years.keys())
            most_recent_pop = pop_years.get(most_recent_year)
            trip = {'country_name' : country.findtext('name'),
                    'city_name' : city.findtext('name'),
                    'city_population' : int(most_recent_pop) }
            rows_list.append(trip)

pd.DataFrame(rows_list).sort_values('city_population', ascending=False).head(10)

           city_name  city_population country_name
165            Seoul          9708483  South Korea
154       Al Qahirah          8471859        Egypt
75           Bangkok          7506700     Thailand
123        Hong Kong          7055071    Hong Kong
87       Ho Chi Minh          5968384      Vietnam
201        Singapore          5076700    Singapore
153  Al Iskandariyah          4123869        Egypt
205       New Taipei          3939305       Taiwan
166            Busan          3403135  South Korea
102        Pyongyang          3255288  North Korea

In [82]:
# 3. Find 10 ethnic groups with the largest overall populations.
#    (The sum of best/latest estimates over all countries.)

rows_list = []
for country in document.iterfind('country'):
    # Adapted from no.2 above.
    pop_years = {}
    for pop in country.iterfind('population'):
        year = pop.attrib.get('year')
        pop_years[int(year)] = int(pop.text)
    if pop_years:
        most_recent_year = max(pop_years.keys())
        most_recent_pop = pop_years.get(most_recent_year)
        for group in country.iterfind('ethnicgroup'):
            group_percent = float(group.attrib.get('percentage'))
            group_pop = most_recent_pop * (group_percent / 100)
            tupl = {'country_name' : country.findtext('name'),
                    'ethnic_group' : group.text,
                    'group_population' : group_pop}
            rows_list.append(tupl)
            
df = pd.DataFrame(rows_list)
pg = df.groupby('ethnic_group').sum()
pg.sort_values('group_population', ascending=False).head(10)

              group_population
ethnic_group
Han Chinese       1.245059e+09
Indo-Aryan        8.718156e+08
European          4.948722e+08
African           3.183251e+08
Dravidian         3.027137e+08
Mestizo           1.577344e+08
Bengali           1.467769e+08
Russian           1.318570e+08
Japanese          1.265342e+08
Malay             1.219936e+08